header {
  width: 100%;
  min-height: 100vh;
  background-image: url(../image/background_header.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  padding-top: 45px;
  margin: 0 auto;
  overflow: hidden; /* for animation */
}
.hero-block {
  position: absolute;
  width: 426px;
  min-height: 292px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}
.hero-block > div > .img-box {
  width: 63px;
  height: 63px;
}
.hero-block > div > .img-box > img {
  width: 100%;
  height: 100%;
}
.hero-block h1 {
  color: var(--main-color);
  width: 386px;
  min-width: 300px !important;
  min-height: 118px;
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  /* or 133% */
  text-align: center;
}
.hero-block h2 {
  width: 100%;
  min-height: 56px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 42px;
}
nav {
  max-width: 651px;
  height: 26px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-left: 10%;
  margin-right: 2%;
}
.navlist {
  display: flex;
}
nav > h3 > a {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 16px;
  /* identical to box height, or 80% */
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--main-color);
}

.navlist > li > a {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--main-color);
  margin: 18px;
}
a:not([href^="mailto"]) {
  text-decoration: none;
}
.navlist > li:nth-child(2) > a {
  border-bottom: 2px solid var(--main-color);
}
#hamburger-menu {
  display: none;
}
/* week 5 */
.logo-big img {
  transition: all 1.3s ease-in-out 0.5s;
}
.logo-big .img-box:hover img {
  transform: rotateY(180deg) scale(1.3);
  transform-origin: center;
}
/* animation */
.animation-glowing-stars {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  overflow: hidden;
  transform: matrix(1, 0, -0.01, 1, 0, 0);
  animation: glowing-stars 8s linear infinite;
  transition: all 0.7s;
}
.animation-glowing-stars > .desktop {
  position: absolute;
  top: -7%;
  right: -4%;
  width: 580.35px;
  height: 714.05px;
}
.animation-stars {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.animation-stars > .desktop {
  position: absolute;
  top: -16%;
  right: -1%;
  overflow: hidden;
  animation: stars 4s linear infinite;
  transition: all 0.3s;
  width: 880.05px;
  height: 690.91px;
}
.animation-glowing-stars > .mobile,
.animation-stars > .mobile {
  display: none;
}
@keyframes glowing-stars {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.7;
  }
  40% {
    opacity: 0.9;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0.9;
  }
  80% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
  }
}
@keyframes stars {
  0% {
    top: -16%;
    right: -1%;
  }
  50% {
    top: -17%;
    right: 0.5%;
  }
  100% {
    top: -16%;
    right: -1%;
  }
}

@media (max-width: 768px) {
  header {
    padding: 20px;
  }
  nav {
    margin: 0 5px;
  }
}
@media (max-width: 600px) {
  header {
    padding-top: 10px;
    background-image: url(../image/background_header_mobile.png);
    min-height: 70vh !important;
  }
  .hero-block {
    width: 386px;
  }
  .hero-block h1,
  .hero-block h2 {
    max-width: 100%;
  }
  nav {
    margin: 0 3px;
  }
  .navlist > li {
    display: none;
  }
  #hamburger-menu {
    display: block;
  }
  .animation-glowing-stars > .desktop,
  .animation-stars > .desktop {
    display: none;
  }
  .animation-stars {
    top: 8%;
    right: 1%;
  }
  .animation-glowing-stars > .mobile {
    display: block;
    position: absolute;
    top: 5%;
    right: -3%;
    width: 420.35px;
    height: 710.05px;
  }
  .animation-stars > .mobile {
    display: block;
    position: absolute;
    top: -16%;
    right: -1%;
    overflow: hidden;
    animation: stars 4s linear infinite;
    transition: all 0.3s;
    width: 720.05px;
    height: 780.91px;
  }
}
